@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .selected {
        background-color: gray;
    }

    .highlight {
        background-color: lightgray;
    }
</style>

<h2>Index</h2>
<div>
    <button>Zoom Out</button>
    <button>Fit</button>
    <button>Zoom In</button>
    <button id="btnClearConsole">Clear Console</button>
</div>
<div>
    <div id="divMine" style="border: 1px solid red; float: left; position: relative;">
        <img id="imgMine" style="border: 1px dotted black;" src="~/Images/Mine.gif" />
        <img id="imgPinBlue" style="position: absolute; left: 1028px; top: -1px;" src="~/Images/Pins/pin-blue.png" />
        <img id="imgPinRed" style="position: absolute; left: 1027px; top: 63px;" src="~/Images/Pins/pin-red.png" />
        <img id="imgPinGreen" style="position: absolute; left: 1028px; top: 126px;" src="~/Images/Pins/pin-green.png" />
        <ul id="menu">
            <li><a href="#">Edit</a></li>
            <li><a href="#">Delete</a></li>
        </ul>
    </div>
    <div id="divIcons" style="border: 1px solid black; float: left; cursor: pointer; width: 35px;">
        <div style="background-image: url(Images/Pins/pin-black.png); background-repeat: no-repeat; height: 63px;"></div>
        <div style="background-image: url(Images/Pins/pin-black.png); background-repeat: no-repeat; height: 63px;"></div>
        <div style="background-image: url(Images/Pins/pin-black.png); background-repeat: no-repeat; height: 63px;"></div>
    </div>
    <div id="divConsole" style="float: left; padding-left: 10px;"></div>
    <div style="clear: both;"></div>
</div>
<style>
    .ui-menu {
        width: 80px;
        z-index: 1000;
    }

        .ui-menu > li > a {
            font-size: 12px;
        }
</style>
<link href="~/Content/themes/smoothness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.custom.js"></script>

<script type="text/javascript">
    var _pinOnSeat;
    var _clickedPin;
    var _maxPinIndex = 0;

    //Image attributes
    var _map_width, _map_height;
    var _pin_width, _pin_height;

    $(function () {
        _map_width = $("#imgMine").width();
        _map_height = $("#imgMine").height();

        $("#menu").menu().css("position", "absolute").hide();
        $("#menu>li:eq(0)").click(function () {
            $("#menu").hide();
            alert("EDIT");
            return false;
        });
        $("#menu>li:eq(1)").click(function () {
            $("#menu").hide();
            if (confirm("Delete " + $(_clickedPin).attr("pin_name") + "?")) {
                $(_clickedPin).remove();
            }
            return false;
        });
        $("#divMine")
            .contextmenu(null, function (e) {
                if ($(e.target).attr("pinned")) {
                    _clickedPin = $(e.target);
                    var left = parseInt(_clickedPin.css("left")) + _clickedPin.width() / 3;
                    var top = parseInt(_clickedPin.css("top")) + _clickedPin.height() / 3;
                    $("#menu").css({ left: left + "px", top: top + "px" }).show();
                }
                return false;
            })
            .click(function () {
                $("#menu").hide(50);
            });

        $("#divIcons>div")
            .mouseover(function () {
                if (!$(this).hasClass("selected")) {
                    $(this).addClass("highlight");
                }
            })
            .mouseout(function () {
                $(this).removeClass("highlight");
            })
            .click(function () {
                $("#divIcons>div").removeClass("selected highlight");
                $(this).addClass("selected");
            });

        makeItDraggable("#imgPinBlue");
        makeItDraggable("#imgPinRed");
        makeItDraggable("#imgPinGreen");

        $("#imgMine").draggable({ drag: function () { return false; } });

        $("#btnClearConsole").click(function () {
            $("#divMine>img").not("[id]").remove();
            $("#divConsole").html("");
        });
    });

    function makeItDraggable(o) {
        $(o).draggable({
            cursor: "move",
            start: function () {
                if (!$(this).attr("pinned")) {
                    _pinOnSeat = $(this).clone();
                }
            },
            drag: function () {
                $(this).draggable("option", "revert", !isInBoundary(this));
            },
            stop: function () {
                if (!$(this).draggable("option", "revert")) {
                    if (!$(this).attr("pinned")) {
                        $(this).removeAttr("id").attr("pinned", 1).attr("pin_name", "Pin" + (_maxPinIndex++).toString());
                        $(_pinOnSeat).appendTo($("#divMine"));
                        makeItDraggable($(_pinOnSeat));
                    }
                    logPosition(this);
                }
            }
        });
    }

    function isInBoundary(pinImage) {
        //For efficience reson, we are calculating the pin's position ourself in this function.
        var o = $(pinImage);
        var x = parseInt(o.css("left"));
        var padding = 10;
        if (!isNaN(x) && padding < x && x < _map_width - padding) {
            var y = parseInt(o.css("top"));
            if (!isNaN(y)) {
                y += o.height();
                if (padding < y && y < _map_height - padding) {
                    return true;
                }
            }
        }
        return false;
    }

    function logPosition(pinImage) {
        var p = GetPinPosition(pinImage);
        logIt(p);
    }

    function logIt(s) {
        if (s != null) {
            $("#divConsole").append("<div>" + s.toString() + "</div>");
        }
    }

    function GetPinPosition(pinImage) {
        var o = $(pinImage);
        var left = parseInt(o.css("left"));
        var top = parseInt(o.css("top"));
        if (isNaN(left) || isNaN(top)) {
            return null;
        }
        else {
            return new Point(left, top + o.height());
        }
    }

    function Point(x, y) {
        this.X = x;
        this.Y = y;
        this.toString = function () {
            return "(" + this.X + "," + this.Y + ")";
        }
    }
</script>
