@{
    ViewBag.Title = "SunSet";
}
<style type="text/css">
    #divOverview.collapse {
        top: 440px;
        height: 10px;
    }

    #divOverview.extend {
        top: 315px;
        height: 135px;
    }
</style>
<h2>SunSet</h2>
<div id="divMine" style="position: relative; display: inline-block; border: 1px solid blue; width: 720px; height: 450px; margin: 40px; overflow: hidden;">
    <img id="imgMine" src="~/Images/sunset.jpg" style="display: inline;" />
    <div id="divOverview" style="position: absolute; left: 0px; border: 1px solid black; display: inline-block;" class="extend">
        <div style="width: inherit; height: inherit; position: relative;">
            <div id="divCollapse" style="display: inline-block; position: absolute; left: 202px; width: 10px; border: 1px solid white; padding-left: 2px; color: white; font-size: 20px; line-height: 5px; cursor: pointer;">-</div>
            <div id="divZoom" style="display: inline-block; position: absolute; border: 1px solid white; cursor: move;"></div>
            <img id="imgOverview" src="~/Images/sunset.jpg" style="display: inline; width: inherit; height: inherit;" />
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.custom.js"></script>

<script type="text/javascript">
    var _prevX = null, _prevY = null;
    var _map_width, _map_height;
    var _frame_width, _frame_height;
    var _overview_width, _overview_height;

    $(function () {
        _map_width = $("#imgMine").width();
        _map_height = $("#imgMine").height();
        _frame_width = $("#divMine").width();
        _frame_height = $("#divMine").height();
        _overview_height = $("#divOverview").height();
        _overview_width = _overview_height * _map_width / _map_height;
        $("#divOverview").width(_overview_width);
        $("#divZoom").width(_overview_width * _frame_width / _map_width);
        $("#divZoom").height(_overview_height * _frame_height / _map_height);

        $("#imgMine").css("cursor", (navigator.userAgent.toString().indexOf("WebKit") > 0 ? "-webkit-grab" : "move"));

        var offset = $("#imgMine").offset();
        var x1 = (-1) * (_map_width - _frame_width) + offset.left; //-670;
        var x2 = offset.left; //50;
        var y1 = (-1) * (_map_height - _frame_height) + offset.top; //-370;
        var y2 = offset.top; //80;
        $("#imgMine").draggable({
            containment: [x1, y1, x2, y2],
            drag: setZoom
        });

        $("#divZoom").draggable({
            containment: "parent",
            drag: setMap
        });

        $("#divCollapse").click(function () {
            $("#divOverview").toggleClass("collapse extend");
            if ($("#divOverview").hasClass("extend")) {
                setZoom();
            }
        });
    });

    function setZoom() {
        if ($("#divOverview").hasClass("collapse")) {
            return;
        }
        var left = _overview_width * (-1) * parseInt($("#imgMine").css("left")) / _map_width;
        $("#divZoom").css("left", left + "px");
        var top = _overview_height * (-1) * parseInt($("#imgMine").css("top")) / _map_height;
        $("#divZoom").css("top", top + "px");
    }

    function setMap() {
        var left = _map_width * parseInt($("#divZoom").css("left")) / _overview_width * (-1);
        $("#imgMine").css("left", left + "px");
        var top = _map_height * parseInt($("#divZoom").css("top")) / _overview_height * (-1);
        $("#imgMine").css("top", top + "px");
    }

    function safeParseInt(value) {
        var result = parseInt(value);
        if (isNaN(result)) {
            result = 0;
        }
        return result;
    }
</script>
