@{
    ViewBag.Title = "SunSet";
}
<h2>SunSet</h2>
<div id="divMine" style="border: 1px solid blue; display: inline-block; width: 720px; height: 450px; margin: 40px; overflow: hidden;">
    <img id="imgMine" src="~/Images/sunset.jpg" style="display: inline; width: 1440px; height: 900px;" />
</div>

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.custom.js"></script>

<script type="text/javascript">
    var _prevX = null, _prevY = null;
    var _map_width, _map_height;
    var _frame_width, _frame_height;

    $(function () {
        _map_width = $("#imgMine").width();
        _map_height = $("#imgMine").height();
        _frame_width = $("#divMine").width();
        _frame_height = $("#divMine").height();

        $("#imgMine").css("cursor", (navigator.userAgent.toString().indexOf("WebKit") > 0 ? "-webkit-grab" : "move"));
        var offset = $("#imgMine").offset();
        var x1 = (-1)*(_map_width - _frame_width) + offset.left; //-670;
        var x2 = offset.left; //50;
        var y1 = (-1) * (_map_height - _frame_height) + offset.top; //-370;
        var y2 = offset.top; //80;
        $("#imgMine").draggable({ containment: [x1, y1, x2, y2] });
    });

    function safeParseInt(value) {
        var result = parseInt(value);
        if (isNaN(result)) {
            result = 0;
        }
        return result;
    }
</script>
