Src/Position/DataAccess/bin/Debug/DataAccess.*
DB/
bin/DataAccess.*
Src/Position/Map/bin/
Src/Position/Web/bin/Web.*
Src/Position/Web/bin/DataAccess.*
obj/
packages/
Src/Position/Position.v11.suo
Src/PositionSyncService/BusinessLogic/bin/
Src/PositionSyncService/DataAccess/bin/
Src/PositionSyncService/ServiceHost/bin/
Src/PositionSyncService/SharedEntity/bin/
Src/PositionSyncService/PositionSyncService.v11.suo
Src/PositionSyncService/Bin/Logs/
Src/Position/DataAccess/bin/DataAccess.*
