@model MonitorMapModel
@{
    ViewBag.Title = Model.System.Name + "地图";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}

<style type="text/css">
    fieldset {
        margin: 10px;
        padding: 10px;
        width: 400px;
    }
</style>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Upload", "MonitorMap", new { id = Model.System.Id }, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <fieldset>
        <legend>最小地图</legend>
        <table>
            <tr>
                <td>地图图片：</td>
                <td>
                    @if (Model.SmallMap == null) {
                        Html.DisplayText("尚未设置");
                    }
                    else {
                        <a href="~/Images/@Model.SmallMap.Name" target="_blank">@Model.SmallMap.DisplayName</a>
                    }
                </td>
            </tr>
            <tr>
                <td>参考坐标：</td>
                <td>
                    @if (Model.SmallMap == null) {
                        Write("无");
                    }
                    else {
                        Write(string.Format("({0}, {1})", Model.SmallMap.StartX, Model.SmallMap.StartY));
                    }
                </td>
            </tr>
            <tr>
                <td>选择地图：</td>
                <td>
                    <input type="file" name="smallMap" /></td>
            </tr>
        </table>
    </fieldset>
    
    <fieldset>
        <legend>中等地图</legend>
        <table>
            <tr>
                <td>地图图片：</td>
                <td>
                    @if (Model.MedimMap == null) {
                        Html.DisplayText("尚未设置");
                    }
                    else {
                        <a href="~/Images/@Model.MedimMap.Name" target="_blank">@Model.MedimMap.DisplayName</a>
                    }
                </td>
            </tr>
            <tr>
                <td>参考坐标：</td>
                <td>
                    @if (Model.MedimMap == null) {
                        Write("无");
                    }
                    else {
                        Write(string.Format("({0}, {1})", Model.MedimMap.StartX, Model.MedimMap.StartY));
                    }
                </td>
            </tr>
            <tr>
                <td>选择地图：</td>
                <td>
                    <input type="file" name="medimMap" /></td>
            </tr>
        </table>
    </fieldset>
    
    <fieldset>
        <legend>最大地图</legend>
        <table>
            <tr>
                <td>地图图片：</td>
                <td>
                    @if (Model.LargeMap == null) {
                        Html.DisplayText("尚未设置");
                    }
                    else {
                        <a href="~/Images/@Model.LargeMap.Name" target="_blank">@Model.LargeMap.DisplayName</a>
                    }
                </td>
            </tr>
            <tr>
                <td>参考坐标：</td>
                <td>
                    @if (Model.LargeMap == null) {
                        Write("无");
                    }
                    else {
                        Write(string.Format("({0}, {1})", Model.LargeMap.StartX, Model.LargeMap.StartY));
                    }
                </td>
            </tr>
            <tr>
                <td>选择地图：</td>
                <td>
                    <input type="file" name="largeMap" /></td>
            </tr>
        </table>
    </fieldset>
    <div style="padding-left: 200px; padding-top: 20px;">
        <button type="submit">保存</button>
    </div>
}
