@model MonitorPointIndexModel
@{
    ViewBag.Title = "检测点";
    Layout = "~/Views/Shared/_LayoutMonitorPoint.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var item in Model.MonitorSystems) {
        <li>@item.Name @Html.ActionLink("显示", "Show", new {id = item.Id, size = MapSize.Medim}) @Html.ActionLink("设置", "Edit", new {id = item.Id})</li>
    }
</ul>
