@model MonitorSystem
@{
    ViewBag.Title = "地图尚未设置";
    Layout = "~/Views/Shared/_LayoutMonitorPoint.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    地图图片尚未设置，请让管理员设置<span style="font-weight: bold; color: red;">@Model.Name</span>的地图之后再浏览。
</div>