@model PeopleSearchModel

@{
    ViewBag.Title = "人员查询";
}
<style type="text/css">
    table.grid {
        border-collapse: collapse;
    }

        table.grid td, table.grid th {
            border: 1px solid #808080;
            padding: 3px;
        }
</style>

<h2>@ViewBag.Title</h2>
@using (Ajax.BeginForm("PeopleSearch", new AjaxOptions { UpdateTargetId = "reportGrid", InsertionMode = InsertionMode.Replace })) {
    <fieldset style="padding: 5px;">
        <legend>查询条件</legend>
        <div style="float: left;">
            <fieldset>
                <legend>主要属性</legend>
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" id="chkSenderId" /></td>
                        <td>
                            <label for="chkSenderId">发射器号</label></td>
                        <td>
                            <input type="text" name="SenderId" id="SenderId" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="chkLampId" /></td>
                        <td>
                            <label for="chkLampId">矿灯号</label></td>
                        <td>
                            <input type="text" name="LampId" id="LampId" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="chkPersonName" /></td>
                        <td>
                            <label for="chkPersonName">姓名</label></td>
                        <td>
                            <input type="text" name="PersonName" id="PersonName" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="chkPersonId" /></td>
                        <td>
                            <label for="chkPersonId">工号</label></td>
                        <td>
                            <input type="text" name="PersonId" id="PersonId" /></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset style="margin-top: 20px;">
                <legend>时间</legend>
                <div>
                    <label>
                        <input type="radio" name="rdoReportTime" value="0" checked="checked" />指定：</label>
                    <input type="text" name="ReportForTime" id="ReportForTime" />
                    <input type="button" value="example" onclick="sampleTime()" />
                </div>
                <div>
                    <label>
                        <input type="radio" name="rdoReportTime" value="1" />当前时间</label>
                </div>
            </fieldset>
        </div>
        <fieldset style="float: left; margin-left: 20px;">
            <legend>部门</legend>
            @Html.ListBox("DeptId", Model.Departments)
        </fieldset>
        <fieldset style="float: left; margin-left: 20px;">
            <legend>职务</legend>
            @Html.ListBox("RankId", Model.Ranks)
        </fieldset>
        <div style="clear: both"></div>
        <fieldset style="margin-top: 20px;">
            <legend></legend>
            <label>
                <input type="radio" name="WorkPlace" value="0" checked="checked" />在全部人员中查询</label>
            <label>
                <input type="radio" name="WorkPlace" value="1" />在井下人员中查询</label>
            <label>
                <input type="radio" name="WorkPlace" value="2" />在井上人员中查询</label>
        </fieldset>
        <div style="margin-top: 20px; padding-left: 100px;">
            <input type="submit" value="查询" style="width: 80px;" />
        </div>
    </fieldset>
}

@Html.Partial("PeopleSearchList", Model)

<script type="text/javascript">
    $(function () {
        var fields = ["SenderId", "LampId", "PersonName", "PersonId"];
        $.each(fields, function () {
            var field = this;
            $("#" + field).attr("disabled", true);
            $("#chk" + field).click(function () {
                $("#" + field).attr("disabled", !this.checked);
                if (this.checked) {
                    $("#" + field).focus();
                }
            });
        });

        $("#DeptId,#RankId").css("min-width", "150px").attr("size", 10);

        $(":radio[name=rdoReportTime]").click(function () {
            $("#ReportForTime").attr("disabled", this.value == "1");
        });
        $(":radio[name=rdoReportTime]").first().click();
    });

    function sampleTime() {
        $("#ReportForTime").val("2013-08-14 10:00");
    }
</script>
